#friendTeam {
	float:left;
	width:200px;
	text-align: right;
}
#enemyTeam {
	float:left;
	width:300px;
	text-align: left;
}
#cont {
	 width:700px;
	 margin-left:auto;
	 margin-right:auto;
}
#canvas {
		float:left;
		width:200px;
	 hight:500px;
}
